.navbar {
    background-color: var(--primary-color);
}

.navbar .brand {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar .brand img {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    padding: 2px;
}

.collapse {
    background-color: #fff;
}

.navLink {
    color: var(--text-color);
    transition: 0.2s ease;
}

.navLink:hover {
    font-weight: bold;
}
